@use '../1-base/base-mixins';
@use '../1-base/variables';
@use 'layouts-mixins';

.deal-conatiner {
    background-image: url('../img/deal_headset.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 2rem;
    back
}