@use '../1-base/variables';
@use '../2-layouts/layouts_mixins';
@use '../1-base/base-mixins';

.container-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-top: 2px solid variables.$secondary-bg-color;
}

h2 {
    font-size: 2rem;
    color: variables.$dark-color;
    margin-bottom: 2rem;

    span {
        font-weight: 700;
        text-transform: ;
    }
}