@use '../1-base/variables';

.btn {
    padding: 8px 15px;
    height: 40px;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: variables.$primary-color;
    cursor: pointer
    ;
}